@media screen and (min-width: 400px) {
  body {
    background-color:#ffffff;
    margin: 5px;
    max-width: 100%;
    overflow-x: hidden;
   }

   img {
     width: 50%;
     height: auto;
   }

  .title {
    background-color: #afedff;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    font-family: "Avenir", sans-serif;
    align-self: left;
  }

  .nav-dropdown {
    background-color: #afedff;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: "Avenir", sans-serif;
    display: flex;
    list-style-type: none;

  }

  .nav-list {
    display: grid;
    list-style-type: none;
    list-style-position: outside;
    align-self: center;
    background-color: #1a2451;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
    display: flex;
    font-family: "Avenir", sans-serif;

  }

  /*.home-page {
    background-color: inherit;
    font-size: 22px;
    font-family: "Avenir", sans-serif;
  }*/

  .assignment-colors {
    background-color: #ffffff;
    font-size: 20px;
    font-family: "Avenir", sans-serif;
  }

  .project-page {

  }


  ul {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #0e1429;
    border-color: #ffffff;
    border-style: inset;
    border-width: 3px;
    position: relative;
    width: 100%;
  }

  li{
    float:left;
  }
  li a {
    display: grid;
    width: auto;
    background-color: #1582a2;
    padding: 7px 9px 7px 9px;
    text-align: left;
    font-size: 100%;
  }

  h1 {
    color:#1a2451;
    font-style: italic;
    font-size: 300%;
    text-align: left;
    font-family: "Avenir", sans-serif;
  }

  h2 {
    color:#1a2451;
    font-style: italic;
    font-size: 225%;
    text-align: left;
    font-family:	"Avenir", sans-serif;
  }

  hr {
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    color:#1a2451;
    font-size: 150%;
    font-family: 	"Avenir", sans-serif;
  }

  a {
    color:#1a2451;
    font-size: 150%;
    font-family: "Avenir", sans-serif;
  }


body {
  background-color:#ffffff;
  margin: 5px;
  max-height: 100%;
}

img {
  width: auto;
  height: 100%;
  display: flex;
}



* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 399px) {

}

}



/*body {
  background-color:#afedff;
}

ul {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
  overflow: hidden;
}

li{
  float:left;
}
li {
  display: block;
  padding: 8px;
  background-color: #1582a2;
  font-size: 100%;
}

h1 {
  color:#1a2451;
  font-style: italic;
  font-size: 300%;
  text-align: center;
  font-family: "Avenir", sans-serif;
}

h2 {
  color:#1a2451;
  font-style: italic;
  font-size: 225%;
  font-family:	"Avenir", sans-serif;
}

hr {
  display:block;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: auto;
  margin-right: auto;
}
p {
  color:#1a2451;
  font-size: 150%;
  font-family: 	"Avenir", sans-serif;
}

a {
  color:#1a2451;
  font-size: 75%;
  font-family: "Avenir", sans-serif;
}*/
