body {
  background-color: lightblue;
}

h1 {
  color:#1a2451;
  font-style: italic;
  font-size: 300%;
  text-align: center;
  font-family: "Avenir", sans-serif;
}

h2 {
  color:#1a2451;
  font-style: italic;
  font-size: 225%;
  font-family:	"Avenir", sans-serif;
}

p {
  color:#1a2451;
  font-size: 150%;
  font-family: 	"Avenir", sans-serif;
}
